* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    left:0;
    transition: all 400ms;
}

.page.active {
    left: 250px;
}

header {
    z-index: 4;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-icon {
    padding:1rem;
    color: white;
}

.nav-icon #menu-icon, 
.nav-icon.active #close-icon {
    display: block;
}

.nav-icon.active #menu-icon,
.nav-icon #close-icon {
    display: none;
}

.menu {
    position: fixed;
    left:0;
    top:0;
    padding-top: 40px;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;

    transform: translateX(-250px);
    transition: all 400ms;
    background: rgba(188, 188, 188, 0.776);
}

.menu ul li {
    list-style: none;
}


.menu.active {
    transform: translateX(0);
}


.menu li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-top: 15px;
    list-style: none;
}

.hero {
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 0;

}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    box-shadow: 3px 3px 3px 3px rgba(1, 1, 1, 0.7);
    height: 100%;
    width: 100%;
}

.titlegroup h1 {
    color: white;
    font-size: 4em;
}

.titlegroup h2 {
    color: white;
    text-align: right;
}

.text p {
    text-align: right;
    float: right;
    color: white;
    min-width: 50px;
    max-width: 500px;

}

.container .text-right h1 {
    font-size: 3em;
    text-align: center;
    color:rgb(38, 38, 38);
}

.container .text-left h1 {
    font-size: 3em;
    text-align: center;
    color:rgb(38, 38, 38);
}

.tape-right {
    background-color: rgba(250, 250, 206, 0.5);
    border: 1px solid rgb(112, 103, 2, 0.3);
    box-shadow: 0px 2px rgba(148, 148, 148, 0.3);
    width: 300px;
    height: 45px;
    position: absolute;
    top: 50px;
    left: 130px;
    z-index: 1;

    transform: rotate(-10deg);
}

.tape-left {
    background-color: rgba(250, 250, 206, 0.5);
    border: 1px solid rgb(112, 103, 2, 0.3);
    box-shadow: 0px 2px rgba(148, 148, 148, 0.3);
    width: 300px;
    height: 45px;
    position: absolute;
    top: 50px;
    right: 130px;
    z-index: 1;

    transform: rotate(10deg);
}


img {
    width: 400px;
}

.cards {
    flex-direction: column;
    width: 100%;
    position: relative;
}

.container {
    background: rgb(169, 167, 167);
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.5rem;
    position: relative;
}

.container .rotate-right {
    transform: rotate(-10deg);
    box-shadow: 0px 10px 7px 5px rgba(24, 24, 24, 0.5);
}

.container img {
    box-shadow: 0px 3px 2px 2px rgba(24, 24, 24, 0.2);
}

.container .rotate-left {
    transform: rotate(10deg);
    box-shadow: 0px 10px 7px 5px rgba(24, 24, 24, 0.5);
}

.card {
    background-color: rgb(253, 251, 251);
    padding: 20px;
    padding-bottom: 140px;
    border: 1px solid rgba(148, 148, 148, 0.5);

    transition: all 1s ease-in;
    transform: translateX(400%);   
}


.card h1 {
    font-size: 2em;
    align-items: center;
    margin-bottom: 1rem;
  }

  
.container .card .text, 
.container .card img {
  flex:1;
}

@media(max-width: 549px) {

    img {
        width: 200px;
    }

    .card {
        padding: 10px;
        padding-bottom: 70px;
    }

    .container {
        padding: 50px;
    }

    .container .text-right h1 {
        font-size: 1.5em;
        text-align: center;
        padding-left: 50px;

    }

    .container .text-left h1 {
        font-size: 1.5em;
        text-align: center;
        padding-right: 50px;

    }

    .titlegroup h1 {
        font-size: 2.9em;
    }
    
    .titlegroup h2 {
        font-size: 1.5rem;
    }
    
    .text p {
        max-width: 300px;
        font-size: 1em;
    
    }

    .tape-right {
        width: 130px;
        height: 30px;
        position: absolute;
        top: 30px;
        left: 75px;
        z-index: 1;
    
    }
    
    .tape-left {
        width: 130px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 75px;
        z-index: 1;
    }
}


.footer {
    background-color: rgb(49, 48, 48);
    width: 100%;
    padding: 15px;
}

.content {
    margin: auto;
    text-align: center;
}

.content ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.content ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    
}
